.main-top-bar{
    background-color: white;
    padding: 10px;
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    align-items: center;
  }
  .website-logo-top{
    
  }

  .left-bar-search{
    margin-bottom: -5px;        
  }

